header{
    color: rgb(125, 156, 189);
}
h3{
    color: rgb(125, 156, 189);
     }
#titel {
    color: rgb(125, 156, 189); 
     }
footer {
    color:dimgrey;
    width: 240 px;
    height: 50 px;
}
.link{
    font-size: 12pt;
    color:rgb(232, 239, 245);
}